.login {

    .nav {
        margin-top: 30px;
        a {
            height: 50px;
        }
    }

    p {
        margin: 20px 0;
        line-height: 22px;
        font-size: 16px;
    }

    .login-container {

    }

    .nav-pills li {
        width: 50%;
        margin: 0 !important;
        padding: 0;
        float: left;
        height: 50px;
    }

}
